<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.w3i.replica.replicaisland"
    android:versionCode="14"
    android:versionName="1.4" >
    
    <application android:icon="@drawable/icon"
    			 android:label="@string/app_name"
    			 android:debuggable="true"
    			 android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
    	<activity android:name=".activities.MainMenuActivity"
                  android:label="@string/app_name" 
                  android:screenOrientation="landscape" 
                  android:configChanges="keyboardHidden|orientation" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.AndouKun" android:label="@string/app_name" 
   				  android:screenOrientation="landscape" 
     			  android:configChanges="keyboardHidden|orientation" 
     			  android:launchMode="singleTask"/>
            
        <activity android:name=".activities.LevelSelectActivity"
	              android:screenOrientation="landscape" 
	              android:configChanges="keyboardHidden|orientation" />
                  
	    <activity android:theme="@style/Theme.ConversationDialog"
	              android:screenOrientation="landscape" 
                  android:configChanges="keyboardHidden|orientation" 
	    		  android:name=".activities.ConversationDialogActivity"/>
	    
	    <activity android:name=".activities.DiaryActivity"
				  android:screenOrientation="landscape" 
	   			  android:configChanges="keyboardHidden|orientation"/>
		     					
		     					
		<activity android:name=".activities.SetPreferencesActivity"
				  android:screenOrientation="landscape" 
     			  android:configChanges="keyboardHidden|orientation" />
		     					
    	<activity android:name=".activities.AnimationPlayerActivity"
             	  android:screenOrientation="landscape" 
               	  android:configChanges="keyboardHidden|orientation" />
             
        <activity android:name=".activities.ExtrasMenuActivity"
	              android:screenOrientation="landscape" 
	              android:configChanges="keyboardHidden|orientation" />
	              
		<activity android:name=".activities.DifficultyMenuActivity"
	              android:screenOrientation="landscape" 
	              android:configChanges="keyboardHidden|orientation" />
	              
		<activity android:name=".activities.GameOverActivity"
				  android:screenOrientation="landscape" 
	   			  android:configChanges="keyboardHidden|orientation"/>
		
		<activity
            android:name="com.w3i.offerwall.ui.OfferwallActivity"
            android:theme="@android:style/Theme.Translucent" />
		
        <activity
            android:name="com.w3i.offerwall.ui.RewardHistoryActivity"
            android:theme="@android:style/Theme.Translucent" />
        
        <activity
            android:name="com.w3i.offerwall.ui.OfferDescriptionActivity"
            android:theme="@android:style/Theme.Translucent" />
	   			     
	</application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" 
                     android:name="android.permission.INTERNET"/>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
    
	<!-- Actually, this game works fine on small screens, but the only one out 
	right now has no 3D acceleration, so it's slow and unplayable. --> 
	<supports-screens android:largeScreens="true"
	                  android:smallScreens="false" 
					  android:anyDensity="true"
					  android:normalScreens="true"/>
	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>  -->
	
	
</manifest> 

